body {
  margin: 0;
  min-height: 100vh;
  background-image: url('./media/Background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.knob-control {
  position: absolute;
  width: 70px;  
  height: 70px;
}

.knob-image {
  width: 125%;
  height: 125%;
  transform: rotate(-135deg); 
  cursor: ns-resize;
  user-select: none;
  will-change: transform;
  filter: drop-shadow(-5px -5px 10px #000000);
}